* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.logo h5 {
    font-size: 25px;
    color: #6C63FF;
    font-weight: 600;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-list li{
    list-style: none;
    font-size: 16px;
    font-weight: 700;
}
.nav-list a {
    color: #000;
    text-decoration: none;
}
.btn {
    display: flex;
    gap: 40px;
}
.btn-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.btn-list a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
.nav-btn {
    font-family: "Montserrat", sans-serif;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #6C63FF;
    border: 1.5px solid #B7B3B3;
}
.header-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.line {
    width: 52px;
    height: 3px;
    border: 3px solid #B7B3B3;
}
.header-title h1 {
    font-size: 44px;
    font-weight: 600;
}
.header-title p {
    width: 75%;
    font-size: 20px;
    font-weight: 400;
    opacity: 60%;
    line-height: 24.38px;
}
.header-btn {
    font-family: "Montserrat", sans-serif;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #6C63FF;
    border: 1.5px solid #353434;
}
.bg-none {
    background-color: #fff;
    color: #000;
}
.button-list {
    display: flex;
    gap: 25px;
}
@media screen and (max-width: 578px) {
    .header-title {
        width: 100%;
    }
    .header-title p {
        width: 100%;
    }
    .nav {
        flex-direction: column;
        align-items: start;
    }
    .nav-list {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .btn-list {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .header-content {
        flex-direction: column-reverse;
    }
    .header-content img {
        width: 100%;
        margin-bottom: 30px;
    }
}